@charset "utf-8";

html, body{width: 100%; height: 100%;}

.wrapper{position: relative; height: inherit;}

.bg_char{width: 100%; height: 100%; background-image: url(../images/char.svg); background-size: cover;} 
.bg_char_wrap{position: absolute; width: 307px; height: 283px; bottom:30px; left: 50%; margin-left: -153px; animation: bounce_move 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;}

@keyframes bounce_move {
    0% { transform:translateY(0%); }
    20% { transform:translateY(0%); }
    50% { transform:translateY(-10%); }
    80% { transform:translateY(0%); }
    100% { transform:translateY(0); }
}

@keyframes bounce_item {
    from, to { transform: scale(1.1, 0.9); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.9, 1.1); }
}

/* input form */

input[type='text']{-webkit-appearance: none; display: inline-block; width: 100%; border: 1px solid #cccccc; background-color: #fff; font-size: 14px; line-height: 20px; padding: 8px; border-radius: 2px;}
input[type='password']{-webkit-appearance: none; display: inline-block; width: 100%; border: 1px solid #cccccc; background-color: #fff; font-size: 14px; line-height: 20px; padding: 8px; border-radius: 2px;}

button.bsc{background-color: #5e7083; border: 1px solid #5e7083; color: #fff; display: inline-block; width: 100%; font-size: 18px; line-height: 20px; padding: 8px;}

.ipt_chk > input[type='checkbox'] + p{display: flex;}
.ipt_chk > input[type='checkbox']{display: none;}
.ipt_chk > input[type='checkbox'] + p::before{content: ''; border: 1px solid #cccccc; background-color: #fff; display: inline-block; width: 16px; height: 16px; border-radius: 4px; margin-top: 1px;}
.ipt_chk > input[type='checkbox']:checked + p::before{background-color: #5e7083; border: 1px solid #5e7083; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:38;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='18,78.4 89.4,144 182,48 '/%3E%3C/svg%3E"); }
.ipt_chk > input[type='checkbox'] + p > span{font-size: 14px; line-height: 18px; margin-left: 4px;}

.ipt_rdo > input[type='radio'] + p{display: flex;}
.ipt_rdo > input[type='radio']{display: none;}
.ipt_rdo > input[type='radio'] + p::before{content: ''; border: 1px solid #cccccc; background-color: #fff; display: inline-block; width: 16px; height: 16px; border-radius: 16px; margin-top: 1px;}
.ipt_rdo > input[type='radio']:checked + p::before{background-color: #5e7083; border: 1px solid #5e7083; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='100' cy='100' r='53'/%3E%3C/svg%3E%0A");}
.ipt_rdo > input[type='radio'] + p > span{font-size: 14px; line-height: 18px; margin-left: 4px;}

/* login */
.login{background-color: #001224; display: flex; overflow: hidden;}
.login::before{content: ''; display: block; flex: 1;}

.login_wrap{width: 360px; background-color: #fafafa; padding: 10% 20px; display: flex; flex-direction: column; justify-content: end; z-index: 10;}
.login_box{}
.login_box > h1{font-size: 22px; color: #5e7083; font-family: OneShinhanB; margin-bottom: 12px; line-height: 28px;}
.login_box > h1 > .admin{display: inline-block; font-size: 14px; color: #fff; background-color: #ff2200; line-height: 18px; padding: 5px 8px; border-radius: 4px; vertical-align: middle; margin-left: 4px;}
.login_box > ul > li{margin-bottom: 4px;}

.login_box button.bsc{padding:15px;}
.login_box input[type='text']{padding:12px 8px;}
.login_box input[type='password']{padding:12px 8px;}


/* layout */

.navbar{position: absolute; width: calc(100% - 80px); left: 80px; top:0px; height: 40px;
    display: flex; flex-wrap: wrap; align-items: center; flex-flow: row nowrap;
    z-index: 100; background-color: #fff; color: #666;  justify-content: space-between; padding: 0.5rem 0.5rem; transition: 0.3s all; border-bottom:1px solid #cccccc;}

.main-sidebar{height: 100vh;min-height: 100%; position: absolute;top: 0; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); background-color: #001224; width: 80px; transition: 0.3s all;}

.contents_wrap{position: relative; margin-left: 80px; height: 100%; background-color: rgba(0,0,0,.03); transition: 0.3s all; padding:64px 0 0 28px; overflow-y: auto;}


/* dashboard */

.dashboard_wrap{display: flex; gap:8px; margin: 0 0 16px -28px; padding: 0 28px 28px; border-bottom: 1px solid #cccccc;}
.dashboard_wrap .item{flex:1; border: 1px solid #999999; background-color: #fff; border-radius: 12px; padding: 12px; box-shadow: 0 3px 5px rgba(0,0,0,.1);}
.dashboard_wrap .item span{display: block; text-align: center;}
.dashboard_wrap .item span.tit{font-size: 14px;}
.dashboard_wrap .item span.sub{font-size: 22px; font-family: OneShinhanB}


.board_list > ul{display: block; }
.board_list > ul > li{border-bottom: 1px solid #ccc; }
.board_list > ul > li > a{display: block; padding:20px 12px; color: #666;}
.board_list > ul > li > a:hover{background-color: #eeeeee;}
.board_list > ul > li > a:first-child{border-top:none;}
.board_list > ul > li > a > .num{width: 30px; text-align: center;}
.board_list > ul > li > a.item_rep{margin: 0 28px 20px 42px; border-radius: 12px; background-color: #eeeeee;}
.board_list .item .sts_box{display: flex;}
.board_list .item .tit{font-size: 18px; color: #333;}

.board_list .sel_frm .tit{display: none;}